<div class="container">
  <h1><%= @restaurant.name.capitalize! %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <%= link_to "Home", restaurants_path  %>
  |
  <%= link_to "Edit Details", edit_restaurant_path(@restaurant)  %>
  |
  <%= link_to "Write Review", new_restaurant_review_path(@restaurant)  %>

  <h3>Reviews for <%= @restaurant.name.capitalize!%></h3>
  <% @restaurant.reviews.each do |review| %>
    <%= review.rating %>
    |
    <%= review.content %>
  <% end %>
</div>

